.navbar{
    font-family:sans-serif;
}
.label{
    font-size:1.1rem;
    color:#428bca;
    font-family:sans-serif;
}
.codeSelect{
    max-width:150px;
    margin-bottom:1.5%;
}
.head{
    font-size:1.3rem;
    font-weight:bold;
    text-transform: uppercase;
    font-family: sans-serif;
    background:#f9f9f9;
    width:80%;
    margin:3% 0 3% 10%;
    padding:1%;
    color:#428bca;

}
.subheading{
font-family:sans-serif ;
font-size:0.8rem;
font-weight:bold;
}
.textStyle{
    font-family: sans-serif;
}