<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 left">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 m-0 p-0">
            <p class="text brand">
              <i class="fa fa-group"></i> Meeting Planner</p>
          </div>
          <div style="margin-top:15%;" class="col-12">
            <h1 class="text-white text-center text">Forgot Password?</h1>
            <p class="text-white text-center text">Enter Your Email To Recover Password</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 right">
      <div class="container-fluid">
        <div class="row">

          <div class="col-4">
            <p class="text-center click" [routerLink]="['/login']">Login</p>
          </div>
          <div class="col-4">
            <p class="text-center click" [routerLink]="['/signup']"> SignUp</p>
          </div>
          <div class="col-4">
            <p class="text-center click" [routerLink]="['/forgot']"> Forgot Password? </p>
          </div>
        </div>


        <div class="col-12" style="margin-top:10%">

          <p class="text-center title">Recover Password:</p>

          <form #forgotPassForm="ngForm" (ngSubmit)="forgotPassword()">

            <span class="text email">Email* : </span>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input type="email" name="email" [(ngModel)]="email" class="form-control">
            </div>
            <br>

            <button style="margin-left:45%;font-family:sans-serif;" type="submit" class="btn btn-success text-white">Done</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>