.sans{
    font-family:sans-serif;
}
.fa-calendar{
    margin-right:2%;
}
.navbar{
    font-family:sans-serif;
}
.head{
    font-size:1.4em;
    color:green;
    text-decoration:underline;
    text-transform: capitalize;
    font-family:sans-serif;
}
.meeting{
    font-size:1.2em;
    font-family:sans-serif;
    text-transform: capitalize;
    font-weight:bold;
}
.left-text,.right-text{
    font-size:1.2em;
    font-family:sans-serif;
    text-transform: capitalize;
    margin-bottom:3px;
    text-align:center;

}
.fa-handshake-o{
    color:green;
}
.box{
    border:1px solid green;
    margin-bottom:4vh;
    background:azure;
}
.log-out:hover{
cursor: pointer;
}