.container-fluid{
    margin:0;
    padding:0;
    background:lightgrey;
    height:100vh;
    width:100vw;
}
.row{
    height:100%;
    width:80%;
    margin: 0 auto;
    background:white;
    overflow:auto;
    

}
.sans{
    font-size:1.2em;
    font-family: sans-serif;
    color:darkgrey;
}
.font{
    font-family: sans-serif;
}
#selector{
    max-width:150px;
}